body {
    background-color: lightslategray;
    background-image:"imagenbackground.jpg" alt="fondo estateria animales museo">;
}

@media screen and (orientation:portrait){
    .portafotoDarwin{
        max-width: 800;
        max-height: 1200;

    
}}
.portafotoDarwin {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.fotoDarwin{
    width: 100%;
    height: 100%;

}

@media screen and (orientation:landscape) {
    .portafoto {
        max-width: 1600px;
        max-height: 1280px;
    }
}
.portafoto {
    max-width: 70vw;
    max-height: auto;
    object-fit: cover;
    
}

.fotoTeoria {
    width: 100%;
    height: 100%;
    

}
#encabezado1{
    display: flex;
    flex-direction: row-reverse;

}
#encabezado2{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}
#caja{
    flex-grow: 1;
}


li {
    /* estilo del boton*/
    display: inline-block;
    width: 85%;
    height: 89%;
    background-color: lightgrey;
    border-radius: 5px;
    margin: 5px;
    border-width: 0px 2px 2px 0px;
    border-color: gray;
    border-style: solid;
    text-align: center;
    padding-top: 1 vh;
    font-size: xx-large;
    box-shadow: 2px 2px black;
    justify-content: space-around;
    color: black;



}

nav {

    display: flex;
    justify-content: space-around;

}

ul {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 70%;
    height: 30%;
    padding-inline-start: 0px;
}

#seleccionado {
    box-shadow: 5px 5px black;
}